# Required Python packages get listed here, one per line.
# Reccomended to lock the version number to avoid unexpected changes.

runpod==1.4.2
numpy==2.0.2
onnxruntime-gpu==1.19.2
ruaccent==1.5.8.3
nltk==3.9.1
tqdm==4.66.5
huggingface-hub==0.26.1
pydub==0.25.1
scipy==1.14.1
